/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para o menu */
.menu {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: relative;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menu .dropdown ul {
  display: none;
  position: absolute;
  background-color: #333;
  padding: 10px;
  z-index: 1;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.menu .dropdown:hover ul {
  display: block;
  opacity: 1;
}

.menu .arrow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

/* Efeito de fade no hover */
.menu ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#prevBtn,
#nextBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#prevBtn {
    margin-right: 10px;
}