/* Estilos gerais da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* top-bar */
.top-bar {
  background-color: #717171;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook-icon {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.dropdowns {
  justify-content: end;
  display: flex;
  align-items: center;
}

.facebook-icon img {
  max-width: 35px;
  Espaço à direita da imagem */
}

/* Menus dropdown */
.dropdown {
  position: relative;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ccc;
}

.dropbtn::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header*/
.logo {
  margin-left: 5%;
  max-width: 210px;
  height: auto;
}

.header {
  background-color: #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .dropdown {
  position: relative;
  margin-right: 20px;
}

.header-right .dropdown .dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.header-right .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-right .dropdown .dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-right .dropdown .dropdown-content a:hover {
  background-color: #ccc;
}

.header-right img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  border: none;
  padding: 10px;
  width: 250px;
  margin-right: 10px;
}

.search-bar select {
  border: none;
  padding: 10px;
  background-color: #fff;
  margin-right: 10px;
}

.search-bar button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #cccccc;
  color: #000;
  cursor: pointer;
}

#search-button {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  margin-left: -5px;
}

.advanced-search {
  color: #868686;
  text-decoration-line: underline;
  margin-top: 5px;
  margin-left: 0px;
}

#search {
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  width: 250px;
  margin-right: 1px;
}

#city {
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 9px;
  width: 150px;
  margin-right: 10px;
}

/* Main content */
.mainpage {
  display: flex;
  background-color: #f2f2f2;
  padding: 20px;
}

.left-container {
  width: 30%;
  background-color: #fff;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  height: 50%;
}

.left-container img {
  width: 100%;
}

.left-container h1 {
  margin-top: 20px;
  font-size: 155%;
}

.left-container p {
  margin-top: 10px;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 90%;
}

.left-container hr {
  margin: 20px 0;
}

.left-container h2 {
  font-weight: bold;
  text-align: left;
  margin-left: 20px;
  font-size: 100%;
}

.right-container {
  width: 75%;
  margin-right: 10%;
}

.data-container h3,
.menu-container h3,
.employees-container h3,
.message-container h3,
.footer {
  font-weight: bold;
  margin-top: -5px;
}

.data-container p,
.menu-container p,
.employees-container p {
  margin-top: 10px;
}

.division {
  margin-top: -55px;
  display: flex;
}

.employees-column {
  margin-top: 50px;
}

.employees-column p {
  margin-top: 15px;
}

.menu-column {
  margin-top: 50px;
  width: 50%;
  float: left;
}

.menu-column p {
  margin-top: 5px;
}

.employee {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.employee img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

.message-container textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
}

.message-container button {
  background-color: #cccccc;
  border: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
}

.left-container,
.data-container,
.menu-container,
.employees-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
}

.message-container {
  padding-top: 25px;
  margin: 15px;
}

/* footer */
.footer {
  background-color: #717171;
  text-align: center;
  color: #fff;
  padding: 10px;
}